html,
body {
    background-color: rgb(255, 193, 204);
    height: 100%;
    margin: 0;
}

.camada1 {
    display: flex;
    justify-content: center;    
    align-items: center;
}

.form01 {
    display: grid;
    justify-content: center;
    align-content: center;
}