html,
body {
    background-color: rgb(255, 193, 204);
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;    
    align-items: center;
}

.camada1 {
    border-radius: 12px;
    padding: 10px;
    border: 2px solid pink;
    box-shadow: rgba(0, 0, 0, 0.5) 8px 8px 12px 3px;
    background: url(https://c.pxhere.com/photos/dd/3a/roses_flower_pink_flower_flower_color_pink_pink_flowers_flowers-568383.jpg!d);
    background-position: center;
    color: aliceblue;

}

.form01 {
    display: grid;
    justify-content: center;
    align-content: center;
    z-index: 1;
}

.form01>label,input,button{
    margin-bottom: 5px;
}

